{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="text-3xl font-bold underline">
    {{ 'welcome'|trans }}
  </h1>

  <div>
    {{ 'lucky_number'|trans }}: {{ number }}
  </div>
{% endblock %}
