<!DOCTYPE html>
<html class="h-full bg-gray-50 text-gray-900 tracking-normal font-sans">
  <head>
    <meta charset="UTF-8" />

    <title>
      {% block title %}
        StudiBonnTask
      {% endblock %}
    </title>

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    {% endblock %}

    {% block javascripts %}
      <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1"
        type="module"></script>
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </head>
  <body class="h-full">
    {% block body %}

    {% endblock %}

    {% include 'partials/_flash_messages.html.twig' %}
  </body>
</html>
